*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0;
    background: rgb(235, 233, 233);
    font-family: 'Montserrat';
}

head{
    margin: none;
}

body{
    background: #06024e;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.dropdown{
    margin: 0 auto;
}

nav{
    height: 60px;
    background: #06024e;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.logo{
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li{
    background: #06024e;
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
}

nav ul li a:hover{
    background: #181372;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

.main-nav{
    background-color: #06024e;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.right-nav{
    padding: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}
/* header*/

.active{
    color: #F64C72;
}

span{
	float: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.video{
    background: #87adfe;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.HRlogo{
    width: 100px;
    padding-top: 10px;
    padding-left: 20px;
}

h1{
    text-align: center;
    margin: 10px;
    color: #06024e;
}

.live_chat{
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0pt;
    display: flex;
    justify-content: space-between;
}

.Blogo{
    width: 150px;
    height: 150px;
    padding-right: 20px;
}

.live{
    width: 100%;
    height: auto;
    padding-right: 20px;
}

label{
    align-content:right;
    padding-right: 20px;
}

.chat{
    background: rgb(235, 233, 233);
    border: 1px black solid;
    padding-top: 10px;
    width: 30%;
    text-align: center;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}

input:hover{
    background: #F64C72;
}

.Lchat{
    margin-top: 200%;
}

.text{
    margin-right: 20px;
    text-align: right;
    font-size: 2em;
    color: #06024e;
}
.money{
    padding-left:30px;
}

.band-desc{
    display: flex;
    padding: 20px;
    color:#06024e;
}

.btn{
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.LD{
    font-size: 1em;
}