*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0;
    background: rgb(235, 233, 233);
    font-family: 'Montserrat';
}

head{
    margin: none;
}

body{
    background: #06024e;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.dropdown{
    margin: 0 auto;
}

nav{
    height: 60px;
    background: #06024e;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.logo{
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li{
    background: #06024e;
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
}

nav ul li a:hover{
    background: #181372;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

.main-nav{
    background-color: #06024e;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.right-nav{
    padding: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.band{
    display: flex;
    padding: 25px;
}

.band:nth-child(even){
    background: rgb(235, 233, 233);
}

.band:nth-child(odd){
    background:#242582;
    color: white;
}

.bandImg{
    width: 250px;
    padding-right: 20px;
}

.HRlogo{
    width: 100px;
    padding-top: 10px;
    padding-left: 20px;
}

.active{
    color: #F64C72;
}

.btn{
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
}

.btn:hover{
    background: #0eb5f6;
}